@model int
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>DevPace Test Task</h1>
    <br>
    <form action="/Customer/Delete" method="post">
    <h3>Id : @Model</h3>
    <input type="hidden" name="id" value="@Model" />
    <h3>Password</h3>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Delete" name="delete"><br><br>
    </form>
</body>
</html>