@model TestDevPace.Views.Auth.SignInModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>DevPace Test Task</h1>
    <br>
    <form action="/Auth/SignIn" method="post">
    <h3>Email</h3>
    <input type="email" name="email" placeholder="abcde@email.com"><br>
    <h3>Password</h3>
    <input type="password" name="password" placeholder="minimum 8 letters in password"><br><br>
    <input type="submit" value="Sign In" name="signIn"><br><br>
    </form>
    <a href="/Auth/SignUp" style="color: black; border: 1px; width: 20px; height: 10px;">Sign Up</a><br><br>

    @*<script>
        var tokenKey = "accessToken";
        
        document.getElementByName("signIn").addEventListener("click", async e => {
            e.preventDefault();
            
            const response = await fetch("/Auth/SignIn", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    email: document.getElementByName("email").value,
                    password: document.getElementByName("password").value
                })
            });
            if(response.ok === true){
                const data = await response.json();
                sessionStorage.setItem(tokenKey, data.access_token);
            }
            else
                console.log("Status: ", response.status);
            }
            sessionStorage.getItem(tokenKey);
            const response = await fetch("/Customer/Index", {
                method: "GET",
                headers: {
                    "Accept": "application/json",
                    "Authorization": "Bearer " + token  // передача токена в заголовке
                }
            });
                
    </script>*@

</body>
</html>