@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>DevPace Test Task</h1>
    <form action="/Auth/SignUp" method="post">
    <p>Name</p> <input type="text" name="Name" placeholder="Maksym">
    <p>Company Name</p> <input type="text" name="CompanyName" placeholder="Microsoft">
    <p>Phone</p> <input type="tel" name="Phone" placeholder="+380735435456">
    <p>Email</p> <input type="email" name="Email" placeholder="abcd@email.com">
    <p>Password</p> <input type="password" name="Password" placeholder="min 8 letters">
    <p>Confirm Password</p> <input type="password" name="password1" placeholder="min 8 letters"><br><br>

    <input type="submit" value="Create new Account" name="RegisterButton">
    </form>
</body>
</html>
